.wow {
	visibility: hidden;
}

html, body, header, .view {
	height: 100%;
}
/* Navigation*/
.navbar {
	background: #fff;
}

.isologo {
	width: 50%;
}

.top-nav-collapse {
	background-color: #fff;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #fff;
	}
}
/*Intro*/
.view {
	background: url("/disleXa/img/design/background0.jpg") no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media ( max-width : 768px) {
	.full-bg-img, .view {
		height: auto;
		position: relative;
	}
}

.description {
	padding-top: 25%;
	padding-bottom: 3rem;
	color: #fff
}

@media ( max-width : 992px) {
	.description {
		padding-top: 7rem;
		text-align: center;
	}
}

main {
	padding-top: 3rem;
	padding-bottom: 2rem;
	background: url("/disleXa/img/design/background2.jpg") no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.widget-wrapper {
	padding-bottom: 2rem;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 2rem;
}

.extra-margins {
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}

.divider-new {
	margin-top: 0;
}

.navbar {
	background-color: #fff;
}

footer.page-footer {
	background-color: #414a5c;
	margin-top: 2rem;
}
/*************/
/*     .content { */
/*       width: 100%; */
/*         height: 100px; */
/*         background: #f3f3f3; */
/*         border-radius: 3px; */
/*         border-bottom: 1px solid #CCC; */
/*     } */
/*     .content_button_rs { */
/*       background: red; */
/*         color: #FFF; */
/*         font-size: 15px; */
/*         width: 80px; */
/*         height: 80px; */
/*         border-radius: 50px; */
/*         border: none; */
/*         outline: none; */
/*         border-bottom: 2px solid #863232; */
/*         position: relative; */
/*         align-content: center; */
/*         margin: 10px 0px 0px 46%; */
/*         cursor: pointer; */
/*     } */